[Unit]
After=network.target
Description=bot
StartLimitBurst=120
StartLimitIntervalSec=10m

[Service]
AmbientCapabilities=CAP_NET_BIND_SERVICE
Environment="PATH=/home/bot/.local/bin:/home/bot/.cache/pypoetry/virtualenvs/bin:/usr/local/bin:/usr/bin:/bin"
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/bot/.local/bin/poetry run python app/main.py
Group=bot
MemoryDenyWriteExecute=false
NoNewPrivileges=false
PrivateDevices=true
PrivateTmp=false
ProtectHome=false
ProtectSystem=off
ReadWritePaths=/tmp
Restart=on-failure
RestartSec=5s
StateDirectory=bot
StateDirectoryMode=0700
TimeoutStopSec=10m
Type=simple
User=bot
WorkingDirectory=/var/lib/bot

[Install]
WantedBy=multi-user.target
